body{
    text-align: center;
    background-color: #f7fafc;
    font-family: Arial;
}

form{
    margin:0 auto;
    margin-top: 300px;
}

input,select{
    margin-bottom: 17px;
    border: #d5d5d5 1px solid;
    height: 47px;
    padding: 14px 11px;
    width:298px;
}

select{
    padding: 0px 11px;
}
button:enabled{
    background-color: #3385ff;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 0 25px;
    height:41px;
    width:80px;
}

button:hover:enabled{
    background-color: #317ef3;
}

#img{
    width:150px;
    height:220px;
    margin-right: 10px;
    border: 1px solid #d5d5d5;
    display:inline-block;
}

#picture{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}
#left{
    display:inline-block;
}
#error{
    color:red;
    margin-bottom: 10px;
}