div{
    margin: 0 auto;
}
button:enabled{
    margin:0px 0px;
}
#bar-btn,#pie-btn,#line-btn{
    display: block;
    height:70px;
    width:150px;
    cursor: pointer;
    background-color: #E6E8EA;
    color: black;
    border:1px solid #ccc;
}
#bar-btn:focus,#pie-btn:focus,#line-btn:focus {
    outline:none;
}
#res,#button-group{
    float:left;
}
#res{
    background-color: white;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 20px;
}
#button-group{
    vertical-align: top;
    margin-right: -1px;
}
.current{
    background-color: white !important;
    border-right: 1px solid #fff !important;
    position: relative;
}
#charts{
    margin: 0px auto;
    width: 800px;
    height: 400px;
}
#content{
    width: 1080px;
    border: 1px solid #3385ff;
    padding: 100px 0px;
}
#generate{
    margin-top: 100px;
}
#btns{
    margin: 0px auto;
    width: 800px;
}
li{
    float: left;
    list-style: none;
    cursor: pointer;
    width: 130px;
    padding: 10px;
    margin-top: -21px;
    background-color: #3385ff;
    color: white;
    border: 1px solid #3385ff;
}
.current-li{
    border-bottom: 1px solid white;
    background-color: white;
    color: #3385ff;
}
#generateCharts{
    margin-left: -141px;
}
.resumes{
    width: 600px;
    border: 1px solid #ccc;
}
.resume{
    border-bottom: 1px solid #ccc;
}
.pic{
    height: 180px;
    width: 130px;
}
.photo{
    float:left;
    margin-left: 80px;
    margin-top: 30px;
}
.info{
    float:left;
    text-align: left;
    margin-top: 100px;
    margin-left: 40px;
    font-size: larger;
}
.btn-group{
    clear: both;
}
.accept:enabled,.refuse:enabled{
    margin: 30px;
    width: 200px;
    border-radius: 100px;
}